
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
html,body {
    margin: 0;
    padding: 0;
    scroll-padding: 100px;
    scroll-behavior: smooth;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

    
}

.container{
    max-width: 2160px;
    margin: 0 auto;
    padding: 0 1.5em;

}
.section{
    max-height: auto;
}
.intro{
    padding-top: 500px;
    height: auto;
    background:rgb(253, 240, 221);

}
.reviews{
    background:rgba(153, 152, 146, 0.404)
}
.footer{
    background:rgb(253, 240, 221);

}

.header{
    margin-top: auto;
    width: 100%;
    height: auto;
   
}
nav {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.26);
    height: 6rem;
    width: 100%;
    

}
nav ul{
    display: flex;
    cursor: pointer;
}
nav li{
    list-style: none;
    position: relative;
    padding: 20px;

}
nav a{
    
    color: rgba(252, 66, 41, 0.836);


    text-decoration: none;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 1.25rem;
}
nav ul a:hover{
    color: white;
}

nav ul a:hover::before {
    width: 75%;
}
nav ul a::before{
    content: '';
    display: block;
    height: 2px;
    
    background: rgb(252, 215, 137);
    position: absolute;
    bottom: 10px;
    width: 0;
    transition: all ease-in-out 250ms;

}
nav .fa-bars{
    display: none;
    
}

.logo-name{
    color: rgba(253, 234, 61, 0.966);
    font-size: 1.45rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logo{
   
    height: 6rem;
    width: 8rem;
    
    
}
.scrolling-active{
    background-color:  rgba(0, 0, 0, 0.795) ;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    height: 4rem;

}

.scrolling-active a {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(252, 66, 41, 0.836);
}
.scrolling-active .logo-name{
    color: rgba(253, 234, 61, 0.966);
    
} 
.scrolling-active .logo{
    height: 4rem;
    width: 6rem;
}

.hero-img{
    background: linear-gradient(rgba(7, 1, 1, 0.836),rgba(17, 1, 1, 0.733)), url("images/hero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;


}
.hero-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;

}

.hero-content p{
    color: rgba(253, 234, 61, 0.966);
    font-size: 3rem;
}
.hero-content span{
    color: rgba(252, 66, 41, 0.836);
    font-size: 5rem;
    text-transform: uppercase;
    padding-left: 20px;
}

.callto{
    color: rgba(255, 255, 255, 0.904);
    font-size: 3rem;
    padding: 20px;
}
.hero-btn{
    display: flex;
    justify-content: center;
}
.menu-btn{
    
    border-radius:  20px; 
    color: rgb(241, 232, 99);
    font-family: 'robotto', sans-serif; 
  
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.993) ;
    font-size: 2rem;
    border: 2px solid black;
    cursor: pointer;
}
.menu-btn:hover{
    background-color:rgba(219, 214, 214, 0.322) ;
    color: rgb(255, 255, 255);
    border-color: black;
}


.fa-whatsapp{
    
    color:green;
    font-size: 2rem;
}
.fa-phone-alt{
    color: rgba(255, 2, 2, 0.932);
    font-size: 2rem;
}

.section-header{
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    color: rgba(134, 21, 21, 0.788);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    
}
.all-text{
    font-family: 'raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 3rem;
    padding: 10px;

}
.all-text h4{
    color: rgba(134, 21, 21, 0.788);
    font-family: 'montserrat', sans-serif;
    
}
.all-text h2{
    color: rgba(134, 21, 21, 0.788);
    text-align: center;
}
.all-btns{
    border-radius:  20px; 
    color: rgb(241, 127, 99);
    font-family: 'robotto', sans-serif; 
    margin-top: 18px;
    margin-left: 20px;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.993) ;
    font-size: 1.2rem;
    border: 2px solid black;
    cursor: pointer;
}
.all-btns:hover{
    background-color:rgba(219, 214, 214, 0.322) ;
    color: rgb(51, 51, 48);
    border-color: black;
}


.meals-content img{
    height: 20rem;
    width: 20rem;
    border-radius: 20%;
    padding: 20px;
}

.meals-content{
    display: flex;
    
    margin: 20px auto;
    padding: 20px;
    justify-content: space-around;

}
.meals-card{
    padding: 20px;
    margin-left: 20px;
    max-width: 450px;

}
.meals-card h4{
    border-bottom: 1px solid black;
    

}
.services-cards{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.service-card{
    display: flex;

    margin: 10px auto;
    box-shadow: 0 3px 1rem  rgba(18, 18, 19, 0.404);
    background-color: rgba(226, 149, 130, 0.384);
}
.service-card img{
    float: left;
    height: 200px;
    width: auto;
    margin: 15px;
    border-radius: 20px;

}
.service-card span{
    color: rgb(158, 67, 51);
    
    padding: 10px;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
}
.services-end{
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(134, 21, 21, 0.788);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}
.social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    margin: 20px;
    padding: 20px;

}
.fa-facebook, .fa-instagram{
    color:black;
}

.review-cards{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    border: 2px solid rgb(158, 67, 51);
    overflow-x: auto;
    max-width: 700px;


}
.review-cards::-webkit-scrollbar{
    width: 0;

}
.review-cards img{
    padding: 20px;
    margin:0 20px;
    max-width: 200px;

}
.mobile-navbar ul{
    display: none;
}
.navlinks{
    display: none;

}

.footer-content{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 50px;
    color: rgba(14, 14, 14, 0.89);
    border-top: 3px solid rgb(116, 78, 78);
}
.footer-content span{
    color: red;
}
.footer-content a{
    color: rgb(241,127,99);
    text-decoration: none;
    font-size: 2rem;
    border-radius: 30%;
    cursor: pointer;
}
.footer-content p i{
    padding: 10px;
}
.fa-arrow-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 3vw;
    width: 3vw;
    text-align: center;
    color: black;  
    background-color: rgb(226, 212, 6);

}

/* menu page css*/
.menu1{
    margin-top: 6rem;
    padding: 20px;
    background: white;
}
.menu-heading {

    padding: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 3px solid rgb(31, 31, 31);
}
.menu-content{
    text-align: center;
    padding: 10px;
}
.menu-content p{
    font-size: 1.3rem;
    font-weight: bold;
}
.menu-img{
    display: block;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
}
.contact-btns{
    border-radius:  20px; 
    color: rgb(104, 99, 99);
    font-family: 'robotto', sans-serif; 
    margin-top: 18px;
    margin-left: 20px;
    padding: 20px;
    background-color:rgba(207, 223, 223, 0.993) ;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}
.contact-btns:hover{
    background-color:rgba(37, 37, 37, 0.322) ;
    

}

/* contactpage style*/
.contactus{
    margin-top: 6rem;
    padding: 20px;
    background: rgb(255, 254, 254);
}
.other-navs{
    background: black;
}
.contact-heading{
    text-align: center;
    padding: 20px;
    font-size: 1.75rem;
    line-height: 2rem;
    border-bottom: 3px solid rgb(31, 31, 31);
}
.contact-content{
    
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}
.contact-content span{
    font-weight: bold;
    font-size: 1.5rem;
}
.contact-content p{
    line-height: 2rem;
}
.contact-img{
    border-radius: 50%;
    max-width: 50%;
}
.contact-info{
   max-width: 40%;
}

.aboutus-content{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}
.aboutus-content img{
    height: 400px;
    margin: 0 20px;
    border-radius: 25%;
}
.aboutus-content span{
    font-weight: bold;
    font-size: 1.5rem;
    

}
.aboutus-content p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 20px;
}
.aboutus-card{
    display: flex;
    margin: 0 auto;
    width: 900px;

}
.aboutus-card p{
    line-height: 3rem;
}
.card1{
    display: flex;
    flex-direction: column;
    color: rgba(73, 41, 36, 0.7);
    box-shadow: 0 0 20px rgba(0, 0,0, 0.2);
    margin: 5rem 2rem;
    background-color: rgba(180, 104, 91, 0.2) ;
    
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-style: italic;
}
.card-title{

    font-size: 2rem;
    font-style: normal;
    font-weight:lighter;
    text-decoration: underline;
    text-underline-position: under;

}
.card1 p{
    margin: 0 0;
}
.team-content p{
    font-size: 1.2rem;
    padding: 20px;

}
.team-images{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 20px auto;

}
.team-images img{
    height: 200px;
    border-radius: 50%;
    padding: 20px;

}
.team-images p{
    color: rgba(85, 40, 19, 0.651);
    font-weight: bold;
    
}

/*//// MOBILE RESPONSIVE SECTION //////////*/


@media only screen and (max-width: 750px) {
    html,body{
        overflow-x: hidden;
    }
    .container{
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
    }
    .intro{
        margin-top: 80px;
    }
    .all-text{
        font-size: 5vw;
    }
    .logo{
        height: 5vh;
        width: 9vw;
    }
    nav{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
     .logo-name {
        -webkit-tap-highlight-color: transparent;
        padding-left: 10px;
        font-size: 3vw;
    }
    nav ul {
        display: none;
    }
    
    
    .navlinks2 li{
        list-style: none;
        position: relative;
        padding: 20px;
    
    }
    .navlinks2 a{
        
        color: rgba(223, 111, 89, 0.815) ; 
    
    
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: lighter;
        font-size: 4vw;
    }
  
    
    
    .navlinks{ 
      display: none;
      bottom: -490px;
      transition: 700ms;
    }
      .navlinks2{ 
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 50vh;
        right: 0;
        width: 60%; 
        bottom: 60px;
        background-color:rgb(0, 0, 0) ;
        text-align: right;
        z-index: 2;
        transition: 700ms; 
        }
        
     

      .mobile-navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        height: 3.8rem;
        
        
    
    }
   
    .mobile-navbar li{
    
        list-style: none;
        position: relative;
    
    }
    .mobile-navbar .fa-bars, .fa-whatsapp, .fa-phone-alt{
        font-size: 5vw;
    }
   
    
    .mobile-navbar .fa-bars{
        color: yellow;
    }
  
    .meals-content, .service-card{
        flex-direction: column;
    }
   
   
    .review-cards{
        overflow-x: auto;
    }
    .review-cards img{
        padding: 20px;
        max-width: 200px;
    }
    .menu-img{
        display: block;
        margin-left: auto;
        margin-right:auto ;
        width: 90%;
        padding-bottom: 20px;
        max-width: 900px;
    }
   
    .menu-heading {
        font-size: 1rem;
    }
    .menu-content p{
        font-size: 1rem;
    }
    .aboutus-content{
        flex-direction: column;
        padding: 20px;
    }
    .aboutus-content img{
        display: block;
        margin: 0 auto;
        width:80% ;
    }
    .aboutus-card{
        flex-direction: column;
        max-width: 400px;
    }
    .contactus{
        margin-top: 9rem;
    }
    .contact-content{
        display: block;
    }
    .contact-img{
        max-width: 100%;
    }
    .contact-info{
        max-width: 700px;
    }
    .footer-content{
        display: flex;
        padding-bottom: 100px;
        font-size: .75rem;
    }
    .footer-content a{
       
        font-size: 1rem;
        border-radius: 30%;
        cursor: pointer;
    }
  
  .fa-arrow-up{
    bottom: 60px;
    height: 4vw;
    width: 4vw;
    margin: 4px;
    font-size: 4vw;
  }
    
}

@media only screen and (max-width: 400px) {
    .intro{
        margin-top: 230px;
    }
    .logo-name a{
       max-width: 255px;
    }
    .scrolling-active a{
        max-width: 210px;
        font-size: .6rem;
    }
    .container{
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
    }
    .meals-content, .service-card{
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
    .meals-card{
       padding:0;
       margin: 0;
       max-width: 250px;
    
    }
    
    .meals-card img {
        margin-left: auto;
        margin-right:auto ;
        width: 100%;
    }
    .service-card{
        margin-bottom: 20px;
    }
    .service-card img{
        margin-left: auto;
        margin-right:auto ;
        width: 100%;

    }
    .review-cards img{
        margin-left: auto;
        margin-right:auto ;
        width: 100%;
    }
    .menu-img{
        display: block;
        margin-left: auto;
        margin-right:auto ;
        width: 100%;
        padding-bottom: 20px;
        max-width: 350px;
    }
   
    .menu-heading {
        font-size: 1rem;
    }
    .menu-content p{
        font-size: 1rem;
    }
    .contactus{
        padding: 0;
        margin: 0 auto;
    }
    .aboutus-content{
        display: block;
        padding: 0;
    }
    .aboutus-content img{
        display: block;
        margin: 0 auto;
        width:100% ;
    }
    .aboutus-card{
        flex-direction: column;
        max-width: 400px;
    }
    .contactus{
        margin-top: 6rem;
    }
    .contact-content{
        display: block;
    }
    .contact-img{
        margin-top: 20px;
        width: 100%;

    }
    .fa-whatsapp, .fa-phone-alt{

        font-size: 1.5rem;
    }
}
  







@media only screen and (min-width: 750px) and (max-width: 1024px) {
    .logo-name{
        display: none;
    }
   .contact-content{
       display: flex;
       flex-direction: column;
  
   }
   .contact-img{
       max-width: 100%;
   }
   .contact-info{
       max-width: 900px;
   }
}